<h2>{{title}}</h2>

<div class="row">
  <div class="col-xs-12 tagsArea">
    <div class="row">
      <div class="col-xs-3" ng-repeat="(tagName, links) in tagsList track by $index">

        <div class="editingDiv">

          <h3 editable-text="tagName" onaftersave="updateTag(links)">{{tagName}}</h3>
          <button class="btn btn-primary" type="button" ui-sref='.links({tagname: tagName})'>
            <span class="badge" ng-model="length">{{length(links)}}</span>
          </button>
          <a href="">
            <i class="fa fa-trash-o" ng-hide="showTrash(length(links))"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 tagsLinksArea" ui-view>
  </div>
</div>


<!-- <ul>
  <li ng-repeat="(tagName, links) in tagsList">
    <a href="" ng-click="goToTag(tagName)">{{tagName}}</a>
    <ul>
      <li>{{links}}</li>
    </ul>
  </li>
</ul> -->
